/* Global styles we only set for the index.html page that shows FileUI. */
body {
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4183c4;
}
a:visited {
  color: blue;
}

/* Styles for FileUI and it's subcomponents. */
.fileui_box-icon {
  float: left;
}
.fileui_box-breadcrumb_bar {
  list-style-type: none;
  padding-left: 0;
}
.fileui_box-breadcrumb {
  display: inline;
}
.fileui_box-breadcrumb:after {
  content: " / ";
}
.fileui_box-breadcrumb:last-child:after {
  content: "";
}
.fileui_box-breadcrumb_link {
  text-decoration: none;
}
.fileui_box-table {
  width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0;
}
.fileui_box-cell {
  padding: 5px;
  border-bottom: 1px solid #eee;
  background-color: #f8f8f8;
  white-space: nowrap;
}
.fileui_box-row:last-child .fileui_box-cell {
  border-bottom: 0;
}
.fileui_box-cell.icon {
  width: 16px;
  padding-right: 0;
}
.fileui_box-cell.modified {
  text-align: right;
}
.fileui_box-link {
  display: block;
}
.fileui_box-file {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  overflow-x: auto;
}

/* icomoon.io font icons. */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?-t3adze') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;
 
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
  color: #80A6CD;
}